<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/head.html' %}
</head>

<body>
    {% include 'partials/header.html' %}
    <main>
        <div class="container col-md-6">
            <div class="card shadow-sm rounded text-center">
                <div class="card-body">
                    <h4>Page not found! &#129335;</h4>
                    <h2 class="mt-4"><a href="/">Go home</a></h2>
                </div>
            </div>
        </div>
    </main>
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
