{% extends "base.html" %} {% block content %}
<div class="container" style="padding-bottom: 200px">
    <div class="jumbotron shadow-sm">
        <h1 class="display-4">Hello &#128075;</h1>
        <p class="lead">
            Guestbook is a simple cloud-native web application which allows visitors to leave a public comment without creating a user account.
        </p>
        <hr class="my-4" />
        <a class="btn btn-primary btn-lg" href="/entries/new" role="button">Get started</a>
    </div>
</div>
{% endblock %}
