@font-face {
    font-family: 'Cousine';
    src: url('../fonts/SpaceMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/SpaceMono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/SpaceMono-Regular.ttf') format('truetype')/* Safari, Android, iOS */
}

body.bootstrap,
body.bootstrap-dark {
    font-family: 'Cousine', monospace !important;
    line-height: 1 !important;
}

.multiline {
    white-space: pre-wrap;
}

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 30px;
    margin: 0px !important;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 3.5px;
    bottom: 3.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #027BFF;
}

input:focus+.slider {
    box-shadow: 0 0 1px #027BFF;
}

input:checked+.slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode {
    font-size: 24px;
    text-align: center;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?q8c1il');
    src: url('../fonts/icomoon.eot?q8c1il#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?q8c1il') format('truetype'), url('../fonts/icomoon.woff?q8c1il') format('woff'), url('../fonts/icomoon.svg?q8c1il#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-moon-o:before {
    content: "\e900";
}

.icon-sun:before {
    content: "\e9d4";
}

.bootstrap-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.bootstrap .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 991.98px) {
    .dark-mode {
        margin-top: 10px;
    }
}
