<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/head.html' %}
  </head>
  <body>
    {% include 'partials/header.html' %}
    <main>
      <div class="container col-md-4" style="padding-bottom: 200px">
        <div class="card shadow-sm rounded">
          <h5 class="card-header">Write a new entry &#129299;</h5>
          <div class="card-body">
            <form method="POST">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  autofocus
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  required
                />
              </div>
              <div class="form-group">
                <input id="anonymous" name="Anonymous" type="checkbox"> Anonymous</input>
              </div>
              <div class="form-group">
                <label for="comment">Comment</label>
                <textarea
                  name="comment"
                  class="form-control"
                  id="comment"
                  rows="3"
                  required
                ></textarea>
                <button id="emoji" type="button" class="btn" style="padding-left: 0;">&#128512;</button>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fgEmojiPicker.js') }}"></script>
    <script>
        //$('footer').toggleClass('fixed-bottom');

        document.getElementById('anonymous').onchange = function() {
            document.getElementById('name').disabled =  this.checked;
        };

        new FgEmojiPicker({
            trigger: ['#emoji'],
            position: ['bottom', 'right'],
            dir: "{{ url_for('static', filename='js/') }}",
            emit(obj, triggerElement) {
            const emoji = obj.emoji;
                document.querySelector('textarea').value += emoji;
            }
        });
    </script>
  </body>
</html>
