<footer class="fixed-bottom">
    <nav
      class="navbar navbar-light bg-light justify-content-center border-top mt-4"
    >
      <a href="/api/v1" class="nav-item nav-link">API</a>
      <a href="/metrics" class="nav-item nav-link">Metrics</a>
      <a href="/health" class="nav-item nav-link">Health</a>
    </nav>
    <div class="footer-copyright text-center py-3 navbar-light bg-light">
        Made with <span style="color:#ec3935;">&#9829;</span> by
        <a
          href="https://github.com/jakuboskera"
          target="_blank"
          rel="noopener noreferrer"
          >@jakuboskera</a
        >
    </div>
  </footer>
